services:
  db:
    image: postgres:16
    container_name: kirjastokaveri-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: kirjastokaveri
      POSTGRES_PASSWORD: kirjastokaveri
      POSTGRES_DB: kirjastokaveri
    ports:
      - "5434:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: kirjastokaveri-pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
    volumes:
      - pgadmin-data:/var/lib/pgadmin

volumes:
  postgres-data:
  pgadmin-data:
