# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
venv/
ENV/
env.bak/

# Tooling
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
personal-notes.txt
